@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Solway:wght@700&family=Roboto+Mono:wght@400&display=swap');

/***** GENERAL STYLES *****/
* {
  box-sizing: border-box;
}

body {
  --site-background: #2a2b38;
  --main: #1f2029;
  --red: #eb9595;
  --blue: #adefef;
  --white: #d1d0d8;
  --lightgray: #b1afbc;
  --gray: #88888d;
  --hover: #343544;
  --shadow: rgba(21, 21, 21, 0.8);

  background-color: var(--site-background);
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  margin: 1.5em 1em 0 1em;
}

input,
select,
textarea,
button {
  border: none;
  color: var(--white);
  font-family: 'Poppins', sans-serif;
}

select {
  cursor: pointer;
}

/***** SITE STYLES *****/
.site-content {
  margin: 0 auto;
  max-width: 1158px;
}

/***** PRIMARY CONTENT STYLES *****/
.primary-content {
  display: grid;
  gap: 1.5em;
  grid-template-areas:
    'headline   graph'
    'form       graph';
  grid-template-columns: 25fr minmax(0, 75fr);
  grid-template-rows: 25fr minmax(0, 75fr);
  justify-items: center;
}

.headline {
  font-family: 'Solway', serif;
  font-size: 3.75em;
  font-weight: 700;
  grid-area: headline;
  line-height: 1em;
  margin: 0;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.1em var(--shadow);
}

.subtitle {
  font-size: 1.12em;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.form {
  grid-area: form;
  text-align: center;
  width: 100%;
}

.default-item {
  /* Color of item in select */
  color: var(--gray);
}

.input {
  -webkit-appearance: none;
  background-color: var(--main);
  border-radius: 4px;
  box-shadow: 10px 10px 15px var(--shadow);
  display: block;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin: 0.7em 0;
  padding: 0.8em 1em;
  transition: all 175ms linear;
  width: 100%;
}
.input:focus,
.input:active {
  background-color: var(--hover);
  box-shadow: 17px 17px 15px var(--shadow);
  outline: none;
}
.input:focus::placeholder,
.input:active::placeholder {
  color: var(--white);
}
.input.input--text {
  appearance: textfield;
}

.button {
  background-color: var(--site-background);
  border-radius: 40px;
  box-shadow: 10px 10px 15px var(--shadow);
  color: var(--red);
  font-family: 'Poppins', serif;
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0.7em auto 0 auto;
  padding: 1.2em 1.8em;
  transition: all 125ms linear;
}
.button:hover {
  background-color: var(--hover);
  box-shadow: 17px 17px 15px var(--shadow);
  color: var(--blue);
  cursor: pointer;
}
.button:focus,
.button:active {
  background-color: var(--main);
  box-shadow: 17px 17px 15px var(--shadow);
  color: var(--blue);
}

.graph-container {
  /* Required for chart js responsiveness */
  grid-area: graph;
  position: relative;
  width: 100%;
}

.graph {
  background-color: var(--main);
  border-radius: 16px;
  box-shadow: 10px 10px 15px var(--shadow);
  padding: 0.7em;
}

.widget-container {
  display: grid;
  gap: 1.5em;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1.5em;
}

.widget {
  text-align: center;
}

.widget__title {
  font-size: 1.27em;
  font-weight: 700;
  margin: 0 0 0.2em 0;
}

.widget__number {
  background-color: var(--main);
  border-radius: 16px;
  box-shadow: 10px 10px 15px var(--shadow);
  font-size: 3.9em;
  font-weight: 700;
  margin: 0;
  padding: 0.5em 0;
}

.location {
  background-color: var(--hover);
  border-radius: 7px;
  box-shadow: 10px 10px 15px var(--shadow);
  font-size: 0.8em;
  margin-top: 2.5em;
  padding: 0.4em 0.75em;
}

.location__placeholder {
  font-weight: 700;
}

.footer {
  color: var(--lightgray);
  font-size: 0.75em;
  font-weight: 400;
  margin: 3em 0 1em 0;
  text-align: center;
}

.footer__disclaimer {
  font-style: italic;
}

.footer__copyright > .link {
  color: var(--lightgray);
}

@media (max-width: 992px) {
  .widget-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .widget:last-of-type {
    grid-column: span 2;
  }
}

@media (max-width: 900px) {
  .primary-content {
    grid-template-areas:
      'headline'
      'form'
      'graph';
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr;
  }

  .input {
    margin-left: auto;
    margin-right: auto;
    max-width: 25em;
  }

  .graph-container {
    height: 500px;
    margin-bottom: 1em;
    margin-top: 1em;
  }
}

@media (max-width: 760px) {
  .graph-container {
    height: 400px;
  }
}

@media (max-width: 640px) {
  .widget-container {
    gap: 1em;
  }

  .graph-container {
    height: 325px;
  }

  .widget__title {
    font-size: 1em;
  }

  .widget__number {
    font-size: 3em;
  }
}

@media (max-width: 500px) {
  body {
    margin-top: 3em;
  }

  .form {
    position: sticky;
    top: 1em;
    z-index: 1;
  }

  .input {
    background-color: var(--hover);
    margin: 0 0.5em;
    max-width: 100%;
    width: calc(100% - 1em);
  }
  .input::placeholder {
    color: var(--white);
  }

  .input--select,
  .button {
    display: none;
  }

  .graph-container {
    height: 250px;
    margin-top: 0.5em;
  }

  .widget__title {
    font-size: 0.8em;
  }

  .widget__number {
    font-size: 2.5em;
  }
}

@media (max-width: 400px) {
  .graph-container {
    height: 225px;
  }

  .widget__title {
    font-size: 0.75em;
  }

  .widget__number {
    font-size: 2em;
  }
}
