@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Solway:wght@400;500;600;700;800;900&family=Roboto+Mono:wght@400&display=swap');

* {
  box-sizing: border-box;
}

body {
  --site-background: #2a2b38;
  --main: #1f2029;
  --red: #eb9595;
  --blue: #adefef;
  --white: #d1d0d8;
  --lightgray: #b1afbc;
  --gray: #88888d;
  --hover: #343544;
  --shadow: rgba(21, 21, 21, 0.8);

  font-family: 'Poppins', sans-serif;
  color: var(--white);
  background-color: var(--site-background);
  margin: 1.5em 1em 0 1em;
}

.site-content {
  max-width: 1158px;
  margin: 0 auto;
}

.primary-content {
  display: grid;
  grid-template-columns: 25fr minmax(0, 75fr);
  grid-template-rows: 25fr minmax(0, 75fr);
  gap: 1.5em;
  justify-items: center;
  grid-template-areas:
    'headline   graph'
    'form       graph';
}

.headline {
  font-family: 'Solway', serif;
  font-weight: 600;
  font-size: 3.75em;
  letter-spacing: 0.5px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: -5px;
  text-shadow: 7px 7px 5px #151515;

  grid-area: headline;
}

.subtitle {
  font-size: 1.12em;
  font-weight: 500;
  margin: 0.2em 0 0 0;
  text-align: center;
}

.form {
  text-align: center;
  grid-row-start: 2;
  grid-area: form;
}

/* For the Select Element */
.default-item {
  color: var(--gray);
}

/* Rules for text and button inputs. */

.input {
  appearance: textfield;
  -webkit-appearance: none;
  margin: 7px 0;
  padding: 13px 17px 13px 17px;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: var(--white);
  background-color: var(--main);
  border: none;
  transition: all 175ms linear;
  box-shadow: 10px 10px 15px 0 var(--shadow);
  width: 100%;
  height: 55px;
}
.input:focus,
.input:active {
  background-color: var(--hover);
  border: none;
  outline: none;
  box-shadow: 17px 17px 15px 0 var(--shadow);
}
.input:focus::placeholder,
.input:active::placeholder {
  color: var(--white);
}

select.input {
  cursor: pointer;
}

.button {
  padding: 13px 22px;
  height: 80px;
  width: 200px;
  margin: 15px auto 5px auto;
  border-radius: 40px;
  font-size: 1.25em;
  font-weight: 700;
  font-family: 'Poppins', serif;
  line-height: 22px;
  letter-spacing: 2px;
  color: var(--red);
  background-color: var(--site-background);
  border: none;
  transition: all 125ms linear;
  box-shadow: 10px 10px 15px 0 var(--shadow);
}
.button:hover {
  background-color: var(--hover);
  color: var(--blue);
  box-shadow: 17px 17px 15px 0 var(--shadow);
  cursor: pointer;
}
.button:focus,
.button:active {
  background-color: var(--main);
  color: var(--blue);
  box-shadow: 17px 17px 15px 0 var(--shadow);
}

.graph-container {
  /* Required for chart js responsiveness */
  position: relative;
  width: 100%;

  grid-area: graph;
}

.graph {
  border: none;
  background-color: var(--main);
  box-shadow: 10px 10px 15px 0 var(--shadow);
  border-radius: 16px;
  padding: 10px 10px 10px 10px;
}

.widget-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5em;
  margin-top: 1.5em;
}

.widget__title {
  font-size: 1.4em;
  font-weight: 700;
  margin: 0 0 0.2em 0;
  text-align: center;
}

.widget__number {
  margin: 0;
  font-size: 3.9em;
  font-weight: 700;
  text-align: center;
  background-color: var(--main);
  box-shadow: 10px 10px 15px 0 var(--shadow);
  border-radius: 16px;
  padding: 0.5em 0;
}

.location {
  background-color: var(--hover);
  border-radius: 7px;
  box-shadow: 10px 10px 15px var(--shadow);
  margin-top: 2.5em;
  padding: 0.4em 0.75em;
  font-size: 0.8em;
}

.location__text {
  font-weight: 700;
}

.footer {
  color: var(--lightgray);
  text-align: center;
  font-weight: 400;
  font-size: 0.75em;
  margin: 3em 0 1em 0;
}

.footer > .disclaimer {
  font-style: italic;
}

.footer .link {
  color: var(--lightgray);
}

@media (max-width: 992px) {
  .widget-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .widget:last-of-type {
    grid-column: span 2;
  }
}

@media (max-width: 900px) {
  .primary-content {
    grid-template-areas:
      'headline'
      'form'
      'graph';
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr;
  }

  .form {
    width: 100%;
  }

  .input {
    display: block;
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
  }

  .graph-container {
    height: 500px;
  }
}

@media (max-width: 760px) {
  .graph-container {
    height: 400px;
  }
}

@media (max-width: 640px) {
  .widget-container {
    gap: 1em;
  }

  .graph-container {
    height: 325px;
  }

  .widget__title {
    font-size: 1em;
  }

  .widget__number {
    font-size: 3em;
  }
}

@media (max-width: 500px) {
  .form {
    position: sticky;
    top: 1em;
    z-index: 1;
  }

  .primary-content {
    grid-template-areas:
      'headline'
      'form'
      'graph';
  }

  .input {
    background-color: var(--hover);
    margin: 0 0.5em;
    max-width: 100%;
    width: calc(100% - 1em);
  }

  .input::placeholder {
    color: var(--white);
  }

  .input--select {
    display: none;
  }

  .button {
    display: none;
  }

  .graph-container {
    height: 250px;
  }

  .widget__title {
    font-size: 0.8em;
  }

  .widget__number {
    font-size: 2.5em;
  }
}

@media (max-width: 400px) {
  .graph-container {
    height: 225px;
  }

  .widget__title {
    font-size: 0.7em;
  }

  .widget__number {
    font-size: 2em;
  }
}
