<!-- The main weather page to house the statistical data and form. -->
{% extends "layout.html" %} {% block content %}
<main class="site-content">
  <!-- Form and Graph Area -->
  <div class="primary-content">
    <!-- Header -->
    <header class="site-header">
      <h1 class="headline">Weather</h1>
      <p class="subtitle">Historical Weather Charter</p>
    </header>

    <!-- Input Form -->
    <form class="form" action="{{ url_for('weather') }}" method="post">
      <input
        aria-label="Location"
        type="text"
        class="input input--text"
        name="location"
        value="{{location}}"
        placeholder="Enter location..."
      />
      <select
        aria-label="Select preset"
        class="input input--select"
        name="preset"
      >
        <option class="default-item" value="none">Or select preset</option>
        <option value="Portland, OR">Portland, OR</option>
        <option value="Tigard, OR">Tigard, OR</option>
        <option value="Stanford University">Stanford University</option>
        <option value="Tilikum Crossing Bridge">Tilikum Crossing Bridge</option>
        <option value="Hershey, Pennsylvania">Hershey, Pennsylvania</option>
      </select>
      <input type="submit" class="button" value="Get Temps" />
    </form>

    <!-- Graph Display -->
    <div class="graph-container">
      <canvas class="graph" id="weather-graph"></canvas>
    </div>
    <script defer type="text/javascript">
      renderGraph({{graph_labels|tojson}}, {{graph_maxes|tojson}}, {{graph_mins|tojson}});
    </script>
  </div>

  <!-- Widget Area -->
  <div class="widget-container">
    <!-- Monthly Minimum Widget -->
    <section class="widget" id="month-min-widget">
      <h2 class="widget__title">{{month}}'s Min Temp</h2>
      <p class="widget__number">{{min_temp}}</p>
    </section>

    <!-- Monthly Maximum Widget -->
    <section class="widget" id="month-max-widget">
      <h2 class="widget__title">{{month}}'s Max Temp</h2>
      <p class="widget__number">{{max_temp}}</p>
    </section>

    <!-- Percent Difference from Last Year Widget -->
    <section class="widget" id="percent-widget">
      <h2 class="widget__title">% Difference from Last Year</h2>
      <p class="widget__number">{{percent}}%</p>
    </section>
  </div>

  <!-- Specific Location Information -->
  <p class="location">
    <span class="location__placeholder">Specific location used:</span>
    {{address}}
  </p>

  <!-- Disclaimer About Accuracy -->
  <footer class="footer">
    <p class="footer__disclaimer">
      Disclaimer: the generated information above is only accurate to 5 days ago
      from use.
    </p>
    <p class="footer__copyright">
      &copy; 2025
      <a class="link" href="https://github.com/henrykaus">Henry Kaus</a>
    </p>
  </footer>
</main>
{% endblock %}
